.body-box{margin:0px;padding:0px;padding:5px;}
.box{margin:0px;padding:0px;padding:5px;}
form{margin:0px;padding:0px;}
a{outline:none;}
a{blr:expression(this.onFocus=this.blur());}
/*列表页*/
.mytable {float:left; padding:0px; margin:0px; margin-top:5px;width:99%;border-collapse:collapse;border: 1px solid #7caade; table-layout:fixed;}
.fixedHeaderTr th{height:34px;font-weight:bold;color:#015591; border: 1px solid #7caade;text-transform: uppercase;text-align:center; ;background-image: url(../images/right/list_bj.jpg);padding-top:2px;padding-bottom:1px; line-height:20px;}
.mytable tr{background: #fff;}
.mytable td{border:1px solid #7caade;padding:0px; padding-left:3px;color:#000000;line-height:20px;padding-top:3px;padding-bottom:3px; text-align:center; vertical-align:top}
.mytable td a{color:#1f37e2;text-decoration:none;}
.mytable td a:hover{color: #FF6600}
.mytable td img{vertical-align:middle;margin-right:3px;}
.mytable .info_left{text-align:left;padding-left:5px;padding-right:5px;}
.mytable .font_red{color:#FF0000}
.mytable .font_hui{color:333333}
.mytable .font_strong{font-weight:bold;}
.alt td{ background-color:#F2F8FE;}
.over td{ background-color:#d7e7f9;}
.link_input{height:22px; line-height:19px; color:#043c6d;padding:0px;background-image:url(../../images/right/input_bg.gif);border:#2e94e2 solid 1px;padding-left:5px;padding-right:5px;cursor:hand;margin-left:5px;margin-right:5px;}
.mytable2{float:left;margin:0px;padding:0px;width:99%;}
.right_link{float:left; padding:0px; margin:0px; margin-top:1px;width:100%;}
.right_link .link_input{float:right;margin-left:8px;margin-right:1px;}

.top_search{float:left; padding:0px; margin:0px; margin-top:1px;width:100%;}
.input_add3{width:20%;height:20px;margin:0px;padding:0px;border:#d7d7d7 solid 1px;border-top:#999999 solid 1px;border-left:#bcbcbc solid 1px;}
/*添加页*/
.tblist th{font-weight:bold;color:#000000; text-align:center;line-height:20px;height:25px;background-image:url(../images/right/tblist_bg.jpg);}
.select1{width:30%;height:20px;border:#7f9db9 solid 1px; text-align:left;margin-right:5px;}
.select2{width:20%;height:20px;border:#7f9db9 solid 1px; text-align:left;margin-right:5px;}
.select3{width:120px;height:20px;border:#7f9db9 solid 1px; text-align:left;margin-right:5px;}
.select4{width:120px;height:20px;text-align:left;margin-right:5px;}
.input1{width:80px;height:20px;margin:0px;padding:0px;border:#d7d7d7 solid 1px;border-top:#999999 solid 1px;border-left:#bcbcbc solid 1px;}
.input2{width:120px;height:20px;margin:0px;padding:0px;}
.mytable3 {float:left; padding:0px; margin:0px; margin-top:5px;width:99%;border-collapse:collapse;border: 1px solid #005691;word-wrap:break-word;word-break:break-all;}
.mytable3 tr{background: #fff;}
.mytable3 td{border:1px solid #005691;padding:0px; padding-left:3px;color:#000000;line-height:20px;padding-top:3px;padding-bottom:3px; vertical-align:top}
.mytable3 td a{color:#1f37e2;text-decoration:none;}
.mytable3 td a:hover{color: #FF6600}
.mytable3 td img{vertical-align:middle;margin-right:3px;}
.mytable3 .info_left{text-align:right;padding-right:3px;background-color: #e6f4fd}
.input_add{width:30%;height:20px;margin:0px;padding:0px;border:#d7d7d7 solid 1px;border-top:#999999 solid 1px;border-left:#bcbcbc solid 1px;}
.input_add2{width:80%;height:20px;margin:0px;padding:0px;border:#d7d7d7 solid 1px;border-top:#999999 solid 1px;border-left:#bcbcbc solid 1px;}
.input_add4{width:50%;height:20px;margin:0px;padding:0px;border:#d7d7d7 solid 1px;border-top:#999999 solid 1px;border-left:#bcbcbc solid 1px;}
.input_add1{width:50%;height:20px;margin:0px;padding:0px;border:#d7d7d7 solid 1px;border-top:#999999 solid 1px;border-left:#bcbcbc solid 1px;}
.textarea{width:50%;height:60px; text-align:left;margin-right:1px;}
.textarea1{width:100%;height:85px; text-align:left;margin-right:1px;}
.mytable1 {float:left; padding:0px;margin-top:5px;width:99%;border-collapse:collapse;border: 1px solid #7caade; table-layout:fixed; vertical-align:top; border-top:none;}
.mytable1 tr{background:#E4EEFC;}
.mytable1 td{border:1px solid #7caade;background:#ffffff; padding:0px; padding-left:3px;color:#000000;line-height:20px;padding-top:3px;padding-bottom:3px;vertical-align:top}
.mytable1 td a{color:#1f37e2;text-decoration:none;}
.mytable1 td a:hover{color: #FF6600}
.mytable1 td img{vertical-align:middle;margin-right:3px;}
.mytable1 .info_left{text-align:right;padding-right:3px;background-color: #e6f4fd}
.mytable1 .info_center{text-align:center;}
.select{width:50%;height:20px;border:#7f9db9 solid 1px; text-align:left;margin-right:5px;}
.page{float:left;width:99%;margin:0px;padding-top:5px;font-weight:bold}
.mytable1 td span{color:#ff0000;font-weight:bold}
.mytable1 td span a{color:#ff0000;font-weight:bold}
.note4{color:ff0000}

.title_li{font-weight:bold;color:#000000;text-align:left; padding-left:5px;background-color:#d0e2ff;background-image:url(../images/right/img_02.jpg);}
.top_search fieldset{padding:8px; margin:0px;}
.top_search a{color:#075aa8;font-weight:bold;}

/*工作计划*/
.mytable .mytable_td5{border-right:none;}
.mytable .mytable_td6{border-left:none;text-align:right}
